{% extends 'base.html'%}

{% block title %}Біз жайлы{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h5>
        <b>Email checker</b> - сайты сізге мәтіндерді өңдеуге және электронды почта хабарламаларын спамға анықтауға мүмкіндік береді.
        </h5>

        <h4 class="mt-5">Бізге жазылыңыз:</h4>
        <h1 class="d-flex justify-content-between">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-vk"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-whatsapp"></i>
        </h1>
    </div>
{% endblock %}