{% extends 'base.html'%}

{% block title %}Біз жайлы{% endblock %}
{% block body %}
    <div class="container vh-100 mt-3 d-flex flex-column justify-content-between">
        <div>
            <h5>
            <b>Email checker</b> - бұл Python программалау тілінде жазылған мәтіндерді өңдеуге және электронды почта хабарламаларын спамға
                анықтауға мүмкіндік беретін кросс браузерлік платформа.
            </h5>
            <h5 class="mt-5">Әзірлеушілер:</h5>
            <h4>Өтеулі Бақтияр</h4>
            <h4>Нуриддинов Отабек</h4>
        </div>
        <div class="mb-3">
            <h4 class="mt-7">Бізге жазылыңыз:</h4>
            <h1 class="d-flex justify-content-between">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-vk"></i>
                <i class="fab fa-youtube"></i>
                <a href="https://github.com/atabek2000/emailChecker"><i class="fab fa-github"></i></a>
                <i class="fab fa-whatsapp"></i>
            </h1>
        </div>
    </div>
{% endblock %}